<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LIFS_Management_Pro_Beta_v._1._0._0.Properties.Settings.LIFSACADEMYConnectionString"
            connectionString="Data Source=DESKTOP-E51U7VA\SQLEXPRESS;Initial Catalog=LIFSACADEMY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>